NUXT_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/monad_blitz
NUXT_SITE_ORIGIN=http://localhost:3000
NUXT_MONAD_RPC_URL=https://testnet-rpc.monad.xyz
NUXT_MONAD_CONTRACT_ADDRESS=
NUXT_RELAYER_PRIVATE_KEY=
NUXT_RELAY_SECRET=
